:root {
  --primary-color: #0b0c0c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3f76dd;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}
.imgg{
  height: 70px;
  padding: 25px 0px 0px 160px;
}


h1 {
  color: var(--primary-color);
  text-decoration: underline;
  text-align: center;
}
.arrow
{
  padding-left: 80px;
  font-weight: 500;
}

.convert-container
{
  background-color: rgb(241, 239, 237);
}

.input-container{

}

.convertedAmount,.fromAmount
{
  padding: 5px 0px 5px 0px;
  margin: 10px 15px 10px 10px;
  border: 1px solid black;
  font-weight: bold;
}
.convertedAmount
{
  color: black; 
}
.to-currency,.from-currency
{
  width: 150px;
  padding: 5px 0px 5px 0px;
  margin: 10px 15px 10px 10px;
}

.result
{ 
  width: 300px;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(141, 141, 226);
 
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
